@import url('reset.css');
body{

    background-image: url("/lab3/pattern.svg"); 
    background-repeat: repeat;
    color: black;
    background-color: white;
    font-size: 1.5rem;
    line-height: 2rem;
    text-align: right;
}
h1{
    color: rgb(136, 0, 255);
    font-family: Arial, Helvetica, sans-serif;
    text-align: right;
}
    em{
        color: rgb(87, 184, 87);
    }
        
.wrapper {
    margin-right: auto;
    margin-left: auto;
    max-width: 960px;
    padding-left: 10px;
    padding-right: 10px;
}
h1,h2 {
    font-family: "Roboto", sans-serif;
}
strong {
    font-family: "Caveat", cursive;
}

#element-for-background{
    background-image: url('lab3/pattern.svg');
}

article {
    border: 10px solid #e3a6ee; 
    border-radius: 50px;  
    margin: 10px; 
    padding: 10px;  
    background-color: #f7e9ff;
} 
        